<h1>Carrito</h1>
{{#each cart.products}}
    <div>
        <h2>{{this.productId.title}}</h2>
        <p>{{this.productId.description}}</p>
        <p>Precio: {{this.productId.price}}</p>
        <p>Cantidad: {{this.quantity}}</p>
    </div>
{{/each}}