<h1>Olvidé mi contraseña</h1>
<form action="/api/sessions/forgot-my-password" method="post">
    <label for="password">Email:</label><br />
    <input type="email" id="email" name="email" required /><br />
    <input type="submit" value="Confirmar" />
</form>