<h1>Iniciar sesi칩n</h1>
<form action="/api/sessions/login" method="post">
    <label for="email">Correo electr칩nico:</label><br />
    <input type="email" id="email" name="email" required /><br />
    <label for="password">Contrase침a:</label><br />
    <input type="password" id="password" name="password" required /><br />
    <input type="submit" value="Iniciar sesi칩n" />
</form>