<h1>Productos en tiempo real</h1>

<div id="products">
    {{#each products}}
        <div id="{{this._id}}">
            <h2>{{this.title}}</h2>
            <p>{{this.description}}</p>
            <!-- Más info del producto -->
        </div>
    {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>