<h1>Restablece tu contraseña</h1>
<form action="/api/sessions/reset-password/{{token}}" method="post">
    <label for="password">Nueva contraseña:</label><br />
    <input type="password" id="password" name="password" required /><br />
    <input type="submit" value="Confirmar" />
</form>